<% layout("/layouts/boilerplate") %>

<style>
    <% categories.forEach(function(category) { 
        const safeClass = 'filter-' + category.category.toLowerCase().replace(/[^a-z0-9]/g, '');
    %>
        .<%= safeClass %>:hover {
            background-color: <%= category.color %>;
        }
        .<%= safeClass %>.active {
            background-color: <%= category.color %>;
            color: white;
        }
    <% }); %>
</style>

<!-- Filters Section -->
<div id="filters" class="d-flex align-items-center gap-3 p-3 mt-4 filter-container">
    <h5 class="mt-1">Filters:</h5>
    <% categories.forEach(function(category) { 
        const isActive = filter === category.category;
        const safeClass = "filter-" + category.category.toLowerCase().replace(/[^a-z0-9]/g, '');
    %>
        <a href="?filter=<%= category.category.replace(" ", '_') %>"
        class="filter p-2 rounded-3 d-flex align-items-center justify-content-center text-decoration-none <%= safeClass %> <%= isActive ? 'active' : '' %>">
            <i class="fa-solid <%= category.icon %> me-2"></i>
            <span><%= category.category %></span>
        </a>
    <% }); %>
    <% if (filter) { %>
        <!-- Clear Filter Button -->
        <a href="/listings"
        class="filter filter-clear p-2 rounded-3 d-flex align-items-center justify-content-center text-decoration-none bg-secondary text-white">
            <i class="fa-solid fa-xmark me-2"></i>
            <span>Clear Filter</span>
        </a>
    <% } %>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
    <% for(let listing of allListings) { %>
        <a class="card col" href="/listings/<%= listing._id %>">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b>
                    <br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / day
                </p>
            </div>
        </a>
    <% } %>
</div>